.container {
    padding: 20px;
}

.container-search {
    background-color: #f1f1f1;
    color: #252525;
    padding: 10px;
}

.container-search .search-form {
    margin-left: 8px;
}

.container-search .fa-search {
    color: #b22222;
}

.container-search .user-prof {
    right: 0;
    padding: 0;
    text-align: right;
    color: #252525;
}

.student-container {
    background: #f4f4f4;
    color: #252525;
    padding: 20px;
}

.col-sm {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}

.inf-content {
    border: 1px solid #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}


/*snack bar css*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #f1f1f1;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

footer {
    background-color: #f1f1f1;
}

footer p a {
    color: #B22222;
    text-decoration: none;
}

footer p a:hover {
    color: #252525;
    text-decoration: none;
}