.container-search {
    background-color: #f1f1f1;
    color: #252525;
    padding: 10px;
}

.container-search .search-form {
    margin-left: 8px;
}

.container-search .fa-search {
    color: #b22222;
}

.student-container {
    background: #f4f4f4;
    color: #252525;
    padding: 20px;
}

.col-sm {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.grade h2 {
    color: #b22222;
    padding: 8px;
}

.deviation h5 {
    color: green;
    padding: 10px;
}

.previous-grade h2 {
    color: royalblue;
    padding: 8px;
}

.rank h2 {
    color: #b22222;
    padding: 8px;
}

caption {
    padding: 14px;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.container {
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: -25px;
}

.inf-content {
    border: 1px solid #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}


/*snack bar css*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(230, 78, 78);
    color: #000000;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}