/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LAYOUT SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    background: #f1f1f1;
}

.profile_name {
    color: #F8F8F8;
    display: block;
    padding: 5px;
    text-align: center;
    margin-top: 0;
    font-size: 16px;
}

#profile_name {
    margin-left: auto;
    margin-right: auto;
}

caption {
    padding: 14px;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGES SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/*lfet sidebar*/

.leftnav {
    height: 100%;
    width: 197px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b22222;
    overflow-x: hidden;
    padding-top: 20px;
    color: #f1f1f1;
    margin-top: 1px;
}

.leftnav hr {
    background: #f1f1f1;
}

.leftnav-bar .fa {
    padding: 10px;
}

.leftnav p {
    color: #f1f1f1;
}

.leftnav-bar {
    margin-top: 20px;
}

.leftnav a {
    padding: 0px 8px 0px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    font-weight: bold;
    margin-left: 25px;
}

.leftnav .profile_name a p {
    padding: 0;
    display: inline;
    margin-left: 0;
}

.leftnav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.leftnav a:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .leftnav {
        padding-top: 15px;
    }
    .leftnav a {
        font-size: 18px;
    }
}


/*snack bar css*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #f1f1f1;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

footer {
    background-color: #f1f1f1;
}

footer p a {
    color: #B22222;
    text-decoration: none;
}

footer p a:hover {
    color: #252525;
    text-decoration: none;
}


/*==================== MEDIA QUERIES SECTION =====================*/