<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/about-us.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/framework.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
  <script>
    $(function () {
      $("#header").load("header.html");
      $("#footer").load("footer.html");
    });
  </script>
</head>

<body>
  <div id="header"></div>
  <div class="banner">
    <h1>About Us!</h1>
    <div class="words">
      <h2>Struggle for exellence.
      </h2>
      <li>FGM Landscaping & Brick Pavers, also known as Freehold Grounds Maintenance, has been creating and maintaining
        fine landscapes for over 30 years. We pride ourselves on having a mix between positive customer relations & a
        high level of design skill. Owners of FGM Joe Spicuzza and Scott Kuffner, created this company in 1985 in
        Freehold, New Jersey. Our office is now located in Millstone New Jersey, after a successful start to the company
        and the need for a bigger workspace. We are determined to work with our customers in order to ensure they
        achieve the upmost satisfaction at an affordable price. We are ICPI certified, a licensed pesticide applicator
        business, and fully insured!</li>
    </div>
    <h1>Testimonials</h1>
    <div class="fotorama" data-autoplay="3000" data-loop="true" data-nav="thumbs" data-width="100%">
      <img src="http://fgmlandscaping.com/communities/4/000/001/775/944//images/10318548.jpg" />
      <img src="http://fgmlandscaping.com/communities/4/000/001/775/944//images/10318549.jpg" />
      <img src="http://fgmlandscaping.com/communities/4/000/001/775/944//images/10318550_720x646.jpg" />
      <img src="http://fgmlandscaping.com/communities/4/000/001/775/944//images/10318551_714x878.jpg" />
      <img src="http://fgmlandscaping.com/communities/4/000/001/775/944//images/10318553_682x433.jpg" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script>
    <div class="my-footer">
      <span class="name">Njoro Central High School</span>
      <ul>Struggle for exellence</ul>
      <span class="social-media">
        <a href="https://www.facebook.com/FGM-Landscaping-Brick-Pavers-469708016520480/?ref=ts"
          class="fa fa-facebook-square"></a>
        <a href="https://twitter.com/fgm_landscaping" class="fa fa-twitter-square"></a>
      </span>
      <span class="copyright">Copyright © 2020 , Njoro Central High School.</span>
    </div>
  </div>
  <script type="text/javascript" src="js/nav.js"></script>
  <div id="footer"></div>
</body>

</html>