<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activate-Email</title>
</head>
<body>

    Your account was successfully created. Please click the link below<br>
    to confirm your email address and activate your account: 
    <p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
    </p>
    <p>
    --<br>
    Questions? Comments? Email hello@myapp.com.
    </p>
</body>
</html>