<header>
    <div class="header">
        <img src="img/logo.png">
        <h1>SECONDARY SCHOOLS</h1>
    </div>
</header>
<div class="topnav" id="myTopnav">
    <a href="admin.html">Home</a>
    <a href="new_entry.html">Add-Exam</a>
    <a href="update_exams.html">Update-Exam</a>
    <a href="add_books.html">Add-Books</a>
    <a href="update_books.html">Update-Books</a>
    <a href="rank.html">Rank</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script type="text/javascript" src="js/admin_logout.js"></script>