<div class="leftnav">
    <img src="img/avatar.png" alt="Avatar" class="avatar"><br>
    <div class="profile_name">
        <p>Welcome,</p>
        <p id="profile_name"></p>
    </div>
    <hr>
    <div class="leftnav-bar">
        <a class="  fas fa-pencil-alt" href="bursar.html"> Add-Fees</a><br>
        <a class="  far fa-edit" href="update_fees.html"> Update-Fees</a><br>
        <a class="fas fa-user-edit" href="#"> Profile</a><br>
        <a class="  fas fa-users" href="#"> Help</a><br>
        <a class="far fa-calendar-alt" href="#"> Calendar</a><br>
        <a class="  fas fa-wrench" href="#"> settings</a><br>
        <a class="far fa-clock" id="logout" onclick="logout()" href="#"> Sign Out</a><br>
    </div>
</div>