<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Careers</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/careers.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">NJC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="careers.html">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Student Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="staff_login.html">Staff Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="accountant_login.html">Accountant Login</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #B22222; color: #f1f1f1; border: none;">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="cpbody">
        <div class="positiontest">
            <!-- image gallery -->
            <div class="containimage">
                <div class="slidecontainer">
                    <div id="slideshow">
                        <!--                           <img class="imageflex" src="https://res.cloudinary.com/huda-tariq-design/image/upload/v1484581124/iStock-test_i4rt8j.jpg"> -->
                        <img class="imageflex" src="https://res.cloudinary.com/huda-tariq-design/image/upload/v1484581124/iStock-test2_n37c7a.jpg">
                        <img class="imageflex" src="https://res.cloudinary.com/huda-tariq-design/image/upload/v1484578659/iStock-475690164_bfxqhu.jpg">
                        <img class="imageflex" src="https://res.cloudinary.com/huda-tariq-design/image/upload/v1484671451/iStock-test3_i8awzu.jpg">
                    </div>
                </div>
                <div class="overlay">
                    <h1 class="esb">EMPOWERING SECONDARY EDUCATION</h1>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="careercontent">
            <h2 class="sh">Our Mission</h2>
            <p>SinaLite was founded to Empower small business owners in the advertising and marketing sector to boost their sales and profitability. We strive to be a leader by offering high-quality marketing materials through ecommerce and lean manufacturing.
            </p>
        </div>

        <div class="careercontent">
            <h2 class="sh">Who We Are</h2>
            <p>SinaLite offers flexible marketing solutions for business owners in the advertising and marketing sector within North America. With our state-of-the-art manufacturing facility and our online technology, we produce and fulfill over five million
                orders each year.
            </p>
            <p>
                In order to provide our clients with innovative solutions, we embrace new developments in e-commerce, manufacturing technology and marketing trends. And everyday, our talented team keeps SinaLite moving towards our company mission.</p>
        </div>
        <div>
            <div class="testcontainer">
                <div class="textpostion">
                    <img class="flextwo" src="https://res.cloudinary.com/huda-tariq-design/image/upload/v1484581124/iStock-test_i4rt8j.jpg">
                    <div class="blfovrly overlaytwo">
                        <h2 class="blfo">Beliefs</h2>
                        <p>Everyday at Njoro Central, our core beliefs guide us towards achieving our mission as an institution.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="beliefcon">
            <div class="bdiv">
                <div class="bcards">

                    <h3 class="hcard">Focus on Students</h3>
                    <p>
                        We care about our students. Helping students grow is top of our mind when we provide interactive, intuitive lessons for our students.
                    </p>
                </div>
                <div class="bcards">

                    <h3 class="hcard">Improve Learning</h3>
                    <p>
                        We look for the best ways to offer lessons. By focusing on how we can do something better, we can offer lessons more easily and efficiently.
                    </p>
                </div>
                <div class="bcards">

                    <h3 class="hcard">Take the Risk</h3>
                    <p>
                        Being bold and taking risks by pursuing new ideas
                    </p>
                </div>
                <div class="bcards">

                    <h3 class="hcard">Enjoy the Work</h3>
                    <p>
                        We love what we do. being professionals at what we do, and having fun doing it.
                    </p>
                </div>
            </div>
        </div>
        <div class="careercontent">
            <h2 class="sh">Our Culture</h2>
            <p>It is our team who makes SinaLite. We come from diverse backgrounds, but we share the same common goal: to empower small business owners in the advertising and marketing sector to boost their sales and profitability.
            </p>
            <p>
                SinaLite encourages an open culture, where every team member is a hands-on contributor. We are proud to maintain an environment in which employees feel comfortable sharing ideas and suggestions.
            </p>
            <p>
                Our team is made up of ambitious and talented individuals who are crucial to our continued success. While experience is an advantage for our candidates, we favour individuals who are capable and driven.
            </p>

        </div>


        <div class="careercontent">
            <h2 class="sh">Current Opportunities</h2>
            <div class="ctbutton buttontwo">
                <a class="current-opportunities" href="current-opportunities.html">ViewJobs</a>
            </div>
        </div>
        </div>
        <footer>
            <div class="sfooter">
                <div class="footercontainer">
                    <nav style="margin: auto; text-align:center;">
                        <a style="padding:10px;" href="https://www.linkedin.com/company/sina-printing-inc-" target="_self"><img src="https://sinalite.com/media/images/socialmedia-icon/linkedin.png"></a>
                        <a style="padding:10px;" href="https://www.youtube.com/user/SinaLiteChannel/featured" target="_self"><img src="https://sinalite.com/media/images/socialmedia-icon/youtube.png"></a>
                        <a style="padding:10px;" href="https://www.facebook.com/SinaLite/" target="_self"><img src="https://sinalite.com/media/images/socialmedia-icon/facebook.png"></a>
                        <a style="padding:10px;" href="https://twitter.com/sinalite" target="_self"><img src="https://sinalite.com/media/images/socialmedia-icon/twitter.png"></a>
                    </nav>
                    <img class="nlogo" src="https://sinalite.com/skin/frontend/default/galayomarket/images/sina-lite-logo.png">
                    <p> © 2020 | All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">NJORO CENTRAL</h6>
                        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">News</h6>
                        <p>
                            <a href="#!">Careers</a>
                        </p>
                        <p>
                            <a href="#!">Alumni</a>
                        </p>
                        <p>
                            <a href="#!">Applications</a>
                        </p>
                        <p>
                            <a href="#!">Staff</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">About</h6>
                        <p>
                            <a href="#!">Examinations</a>
                        </p>
                        <p>
                            <a href="#!">Co-Curriculum</a>
                        </p>
                        <p>
                            <a href="#!">Structures</a>
                        </p>
                        <p>
                            <a href="#!">Development</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
                        <p>
                            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p>
                            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

                <hr>

                <!-- Grid row -->
                <div class="row d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">

                        <!--Copyright-->
                        <p class="text-center text-md-left">© 2020 Copyright:
                            <a href="https://mdbootstrap.com/">
                                <strong> njc.com</strong>
                            </a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0">

                        <!-- Social buttons -->
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fa fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fa fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->
</body>

</html>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" src="js/careers.js"></script>
<div id="footer"></div>
</body>

</html>