<header>
    <div class="header">
        <img src="img/logo.png">
        <h1>SECONDARY SCHOOLS</h1>
    </div>
</header>

<div class="topnav" id="myTopnav">
    <a class="active-btn" href="index.html">Home</a>
    <a class="active-btn" href="careers.html">Careers</a>
    <a class="active-btn" href="about.html">About Us</a>
    <a class="active-btn" href="contact.html">Contact Us</a>
    <a class="active-btn" href="login.html">Student Login</a>
    <a class="active-btn" href="staff_login.html">Staff Login</a>
    <a class="active-btn" href="accountant_login.html">Accountant Login</a>
    <a href="javascript:void(0);" class="icon" onclick="logout()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script type="text/javascript" src="js/student_logout.js"></script>