<header>
    <div class="logo">
        <img src="img/logo.png">
        <div>
            <div>
                <p id="output"></p>
            </div>
            <br>
            <div id="snackbar"></div>
        </div>
        <h1>SECONDARY SCHOOLS</h1>
    </div>
</header>
<div class="topnav" id="myTopnav">
    <a href="user.html">Home</a>
    <a href="get_fees.html">Fees</a>
    <a href="exams.html">Exams</a>
    <a href="subjects.html">Subjects</a>
    <a href="library.html">Library</a>
    <a href="student-id.html">Student ID</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script type="text/javascript" src="js/student_logout.js"></script>