<div class="leftnav">
    <div class="profile_name">
        <p>Welcome,</p>
        <p id="profile_name"></p>
    </div>
    <hr>
    <div class="leftnav-bar">
        <a class="far fa-clone" href="get_fees.html"> Fees</a><br>
        <a class="far fa-clone" href="exams.html"> Exams</a><br>
        <a class=" fas fa-align-justify" href="subjects.html"> Subjects</a><br>
        <a class="fas fa-book-open" href="library.html">Library</a><br>
        <a class="far fa-address-card" href="student-id.html"> Student ID</a><br>
        <a class="fas fa-sticky-note" href="pastpapers.html"> Past Papers</a><br>
        <a class="fas fa-user-edit" href="#"> Profile</a><br>
        <a class="  fas fa-users" href="#"> Help</a><br>
        <a class="far fa-calendar-alt" href="#"> Calendar</a><br>
        <a class="  fas fa-wrench" href="#"> Settings</a><br>
        <a class="far fa-clock" id="logout" onclick="logout()" href="#"> Sign Out</a><br>
    </div>
</div>