<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Update-Books</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/update_books.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
  <script>
    $(function () {
      $("#admin_header").load("admin_header.html");
      $("#footer").load("footer.html");
    });
  </script>
</head>

<body background="bookshop.jpg">
  <div class="leftnav">
    <img src="img/avatar.png" alt="Avatar" class="avatar"><br>
    <div class="profile_name">
      <p>Welcome,</p>
      <p id="profile_name"></p>
    </div>
    <hr>
    <div class="leftnav-bar">
      <a class="  fas fa-pencil-alt" href="add_books.html"> Add-Books</a><br>
      <a class="  far fa-edit" href="update_books.html"> Update-Books</a><br>
      <a class="fas fa-user-edit" href="#"> Profile</a><br>
      <a class="  fas fa-users" href="#"> Help</a><br>
      <a class="far fa-calendar-alt" href="#"> Calendar</a><br>
      <a class="  fas fa-wrench" href="#"> settings</a><br>
      <a class="far fa-clock" id="logout" onclick="on_logout()" href="#"> Sign Out</a><br>
    </div>
  </div>
  <div class="main">
    <div id="admin_header"></div>
    <script type="text/javascript" src="js/nav.js"></script>
    <div class="main-content">
      <div class="left">
        <form id="updateBooks">
          <div class="container">
            <div>
              <h2>Update Books</h2>
              <hr>
              <div>
                <label><b>ID:</b></label><br>
                <input id="book_id" type="text" placeholder="i.e 1" name="" required><br>
              </div>
              <div>
                <label><b>Registration Number:</b></label><br>
                <input id="admission_no" type="text" placeholder="i.e NJCF4001" name="" required><br>
              </div>
              <div>
                <label><b>Book Number:</b></label><br>
                <input id="book_no" type="text" placeholder="i.e KISF1001/19" name="" required><br>
              </div>
              <div>
                <label><b>Author:</b></label><br>
                <input id="author" type="text" placeholder="i.e Ken Walibora" name="" required><br>
              </div>
              <div>
                <label><b>Title:</b></label><br>
                <input id="title" type="text" placeholder="i.e Damu Nyeusi" name="" required><br>
              </div>
              <label><b>Subject:</b></label><br>
              <select id="subject" onchange="change(value)">
                <option value="" selected disabled hidden>Select Subject...</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Biology">Biology</option>
                <option value="Business">Business</option>
                <option value="Chemistry">Chemistry</option>
                <option value="CRE">CRE</option>
                <option value="English">English</option>
                <option value="Geography">Geography</option>
                <option value="History">History</option>
                <option value="Kiswahili">Kiswahili</option>
                <option value="Maths">Maths</option>
                <option value="Physics">Physics</option>
              </select>
              <br>
              <label><b>Form:</b></label><br>
              <select id="form">
                <option value="" selected disabled hidden>Select form...</option>
              </select>
              <br>
              <div>
                <label><b>Stream:</b></label><br>
                <input id="stream" type="text" placeholder="i.e 1A" name="" required><br>
              </div>
              <br>
              <div>
                <input type="submit" value="Update">
              </div>
              <div id="snackbar">Just a moment...</div>
              <div class="lnk">
                <p>Already awarded? <a href="add_books.html">Add</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="js/update_books.js"></script>
    <script type="text/javascript" src="js/select_books.js"></script>
    <script type="text/javascript" src="js/select_subject.js"></script>
    <div id="footer"></div>
  </div>
</body>

</html>