<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/user.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-lg btn-dark" style="background-color: #fff; border:none; color: black;" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Dashboard</a>
                    <div id="close-sidebar">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name"><strong><p id="profile_name"></p></strong>
              </span>
                        <span class="user-role"><h6 id="role"></h6></span>
                        <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="get_fees.html">
                                <i class="fas fa-book-open"></i>
                                <span>Examinations</span>
                                <span class="badge badge-pill badge-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="get_fees.html">View Results
                        <span class="badge badge-pill badge-success">Pro</span>
                      </a>
                                    </li>
                                    <li>
                                        <a href="add_subjects.html">Units Registration</a>
                                    </li>
                                    <li>
                                        <a href="passlist.html">Passlist</a>
                                    </li>
                                    <li>
                                        <a href="supplementary.html">Supplementary</a>
                                    </li>
                                    <li>
                                        <a href="graduation.html">Graduation</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-money-bill-alt"></i>
                                <span>Fees</span>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="get_fees.html">Fee Statement
    
                      </a>
                                    </li>
                                    <li>
                                        <a href="fee_structure.html">Fee Structure</a>
                                    </li>
                                    <li>
                                        <a href="fees_news.html">News & Deadline</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-home"></i>
                                <span>Accomodation</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="book_hostel.html">Book Hostel</a>
                                    </li>
                                    <li>
                                        <a href="view_hostels.html">Available Hostels</a>
                                    </li>
                                    <li>
                                        <a href="hostel_history.html">Booking History</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-book-reader"></i>
                                <span>Library</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="library.html">Recent History</a>
                                    </li>
                                    <li>
                                        <a href="library_history.html">Library History</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-id-card"></i>
                                <span>Student Id</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="student-id.html">Apply</a>
                                    </li>
                                    <li>
                                        <a href="id_status.html">Status</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="medical.html">
                                <i class="fas fa-ambulance"></i>
                                <span>Medical</span>
                                <span class="badge badge-pill badge-primary">Beta</span>
                            </a>
                        </li>
                        <li>
                            <a href="attachment.html">
                                <i class="fas fa-briefcase"></i>
                                <span>Attachments</span>
                            </a>
                        </li>
                        <li>
                            <a href="trip.html">
                                <i class="fas fa-bus-alt"></i>
                                <span>Trips</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#" onclick="logout()">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <main class="page-content">
            <div class="container-fluid">
                <div class="user-prof-container">
                    <!--Navbar -->
                    <nav class="mb-1 navbar navbar-expand-lg navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
                            <i class="fa fa-bars"></i>
    </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                            <ul class="navbar-nav ml-auto nav-flex-icons">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" style="color: black;">1
            <i class="fa fa-envelope"></i>
          </a>
                                </li>
                                <li class="nav-item avatar dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
                                        <a class="dropdown-item" href="#">Profile</a>
                                        <a class="dropdown-item" href="#">Settings</a>
                                        <a class="dropdown-item" onclick="logout()" href="#">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--/.Navbar -->
                </div>
                <div class="container bootstrap snippet ">
                    <div class="panel-body inf-content ">
                        <div class="row ">
                            <div class="col-md-4 ">
                                <img alt=" " style="width:600px; " title=" " class="img-circle img-thumbnail isTooltip " src="https://bootdey.com/img/Content/user-453533-fdadfd.png " data-original-title="Usuario ">
                                <ul title="Ratings " class="list-inline ratings text-center ">
                                    <li><a href="# "><span class="glyphicon glyphicon-star "></span></a></li>
                                    <li><a href="# "><span class="glyphicon glyphicon-star "></span></a></li>
                                    <li><a href="# "><span class="glyphicon glyphicon-star "></span></a></li>
                                    <li><a href="# "><span class="glyphicon glyphicon-star "></span></a></li>
                                    <li><a href="# "><span class="glyphicon glyphicon-star "></span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 ">
                                <div class="table-responsive ">
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody id="data"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container bootstrap snippet" style="margin-top: 20px;">
                    <div class="panel-body inf-content ">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="piechart"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" style="height: 200px; width: 100%;" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">News now</h5>
                                        <p class="card-text">The exam passlist is out. See if you made the cut. All students who never made it on the list should apply for supplementaries.</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Available Links</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="#" class="card-link">Passlist</a>
                                        <a href="#" class="card-link">Apply Supp.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container bootstrap snippet" style="margin-top: 20px;">
                    <div class="panel-body inf-content ">
                        <div id="barchart_material" style="width: 900px; height: 500px;"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript " src="js/sidebar.js "></script>
    <script type="text/javascript " src="js/credentials.js "></script>
    <script type="text/javascript " src="js/role.js "></script>
    <script type="text/javascript " src="js/profile_name.js "></script>
    <script type="text/javascript " src="js/student_logout.js "></script>
    <script type="text/javascript " src="js/piechart.js "></script>
    <script type="text/javascript " src="js/exam_barchart.js "></script>
    <div id="snackbar"></div>
</body>

</html>