body{
  background-color: grey;
  /*background:-webkit-linear-gradient(#82B4D5,#fff);*/
  font-family:'Trebuchet MS';
  /*color:#fff;*/
  height:100vh;
  background-image: url('bookshop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: 50% 50%; */
}
.main{
  height:500px;
  width:700px;
  /*border:1px solid #fff;*/
  margin:7% auto;
}
.main div{
  display: inline-block;
  border:none;
}
.main .left{
  width:50%;
  float:left;
  /*border-right:1px solid #fff;*/
  height:100%;
  /*padding:15px 0 0 0;*/
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  color: white;
}
.left h1{
  text-align: center;
  /*padding-left:120px;*/
  padding-top:100px;
  margin-bottom: 0;
}
.left p{
  margin-top:0;
  text-align:center;
  color:white;
}
.left form{
  text-align: center;
}
.left form input{
  text-align:center;
  width:70%;
  height:35px;
  margin-bottom:10px;
  border:none;
  border:1px solid #F8F8F8;
  background-color:#F8F8F8;
  border-radius:25px;
}
.left form input:focus{
  outline:none;
}
::-webkit-input-placeholder{
  color:grey;
  letter-spacing: 1px;
}
.left form input[type="submit"]{
  background-color:#d65050;
  color:#fff;
  font-weight: bold;
}
.left p.forgot{
  color:#fff;
  font-size:12px;
  padding-top:140px;
}
.left p.or{
  color:grey;
  font-size:15px;
  border:1px solid #f8f8f8;
  width:40px;
  font-weight:200;
  height:30px;
  padding-top:10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  left: 94%;
  z-index:10;
  /*text-align:center;*/
}
/*.left .form{
  border:1px solid;
}*/
.main .right{
  /*height:100%;*/
  width:50%;
  float:left;
  height:100%;
  margin-left:-5px;
  padding-right:5px;
  background-image:url('https://s4.postimg.org/k8u6q3g8d/baloon.jpg');
  background-color:#fff;
  background-size: cover;
  text-align:center;
  border-radius: 5px;
  color: #000000;
}
.right h1{
  padding-top:100px;
  margin-bottom:10px;
}
.right{
  color:#fff;
}
.right p{
  margin:0;
}
.right .social{
  margin-top:40px;
  width:100%;
}
.social button{
  border:none;
  padding:15px;
  width:50px;
  font-size:18px;
  background-color:#fff;
  margin-left:10px;
  margin-right:10px;
  border-radius:50%;
}
.social .twitter{
  color:#55ACEE;
}
.social .facebook{
  color:#012677;
}
.social .google{
  color:#D50F25;
}
.social p{
  font-size:12px;
}
.social p.dont{
  padding-top:165px;
  font-size:13px;
}

/*snack bar css*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(230, 78, 78);
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
