body{
  /*background:-webkit-linear-gradient(#82B4D5,#fff);*/
  font-family:'Trebuchet MS';
  /*color:#fff;*/
  height:100vh;
  background-image: url('bookshop2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.main-content{
  height:350px;
  width:400px;
  /*border:1px solid #fff;*/
  margin:1% auto;
}
.main-content div{
  display: inline;
  border:none;
}
.main-content .left{
  width:100%;
  float:left;
  /*border-right:1px solid #fff;*/
  height:100%;
  /*padding:15px 0 0 0;*/
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  color: white;
  padding: 20px;
}
.left h1{
  text-align: center;
  /*padding-left:120px;*/
  padding-top:100px;
  margin-bottom: 0;
}
.left p{
  margin-top:0;
  text-align:left;
  color:white;
}
.left form{
  text-align: left;
}
.left form input{
  text-align:center;
  width:70%;
  height:20px;
  margin-bottom:10px;
  border:none;
  border:1px solid #F8F8F8;
  background-color:#F8F8F8;
  border-radius:25px;
}
.left form input:focus{
  outline:none;
}
::-webkit-input-placeholder{
  color:grey;
  letter-spacing: 1px;
}
.left form input[type="submit"]{
  background-color:#d65050;
  color:#fff;
  font-weight: bold;
}
.left p.forgot{
  color:grey;
  font-size:12px;
  color: white;
  text-align: left;
}
.left p.or{
  color:grey;
  font-size:15px;
  border:1px solid #f8f8f8;
  width:40px;
  font-weight:200;
  height:30px;
  padding-top:10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  left: 94%;
  z-index:10;
  /*text-align:center;*/
}
/*.left .form{
  border:1px solid;
}*/

/*snack bar css*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(230, 78, 78);
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
